/* =================
Fonts
================= */

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/fonts/Montserrat/Montserrat-Black.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
  font-family: "Open Sans";
  src: url(./assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf);
}

/* =================
Variables
================= */

:root {
  /* White > Black Pallete */
  --clr-bw100: White;
  --clr-bw900: black;

  /* Natural Pallete */
  --clr-np100: #34ce9c;
  --clr-np200: #639c84;
  --clr-np300: #effdf6;
  --clr-np400: #d9eddf;

  /* Discrete Pallete */
  --clr-dp100: #34ce9c;
  --clr-dp200: #639c84;
  --clr-dp300: #f0fcf7;
  --clr-dp400: #386c5f;

  /* Font families */

  /* --ff100: "Raleway"; */
  /* --ff100: "Poppins"; */
  --ff100: "Montserrat";
  --ff200: "Open Sans";

  /* Font sizes */
  --fs08: 0.5rem;
  --fs12: 0.75rem;
  --fs16: 1rem;
  --fs20: 1.25rem;
  --fs24: 1.5rem;
  --fs32: 2rem;
  --fs40: 2.5rem;
  --fs48: 3rem;
  --fs56: 3.5rem;
  --fs64: 4rem;
}
/* =================
General
================= */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: var(--clr-bw100);
  font-family: var(--ff200);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  line-height: 1.6;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

/* =================
Typography
================= */

.h1 {
  font-family: var(--ff100);
  font-size: var(--fs24);
  font-weight: 700;
  margin-bottom: 3rem;
  max-width: 30ch;
}

.h2 {
  font-family: var(--ff100);
  font-size: var(--fs16);
  font-weight: 700;
  margin-bottom: 3rem;
  max-width: 30ch;
}

.h3 {
  font-family: var(--ff100);
  font-size: var(--fs16);
  font-weight: 700;
  margin-bottom: 0.7em;
  max-width: 30ch;
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: var(--fs40);
  }
  .h2 {
    font-size: var(--fs32);
  }
  .h3 {
    font-size: var(--fs24);
  }
}

@media screen and (min-width: 1200px) {
  .main__header {
    font-size: var(--fs64);
  }
}

.main__content {
  font-family: var(--ff200);
  margin-bottom: 2em;
}

.nav__link {
  font-family: var(--ff100);
  font-size: var(--fs32);
  letter-spacing: 0.7px;
}

.footer__header {
  font-family: var(--ff100);
  font-weight: 700;
}

.btn,
.btn--large {
  font-family: var(--ff100);
  font-size: 10px;
  font-weight: 700;
}

@media screen and (min-width: 640px) {
  .btn,
  .btn--large {
    font-family: var(--ff100);
    font-size: var(--fs12);
    font-weight: 700;
  }
}

/* =================
Layout
================= */

.header,
.main {
  margin-bottom: 1rem;
}

.header__container,
.main__container,
.footer__container {
  padding: 2rem;
}

/* Header */
.header {
  background: var(--clr-bw100);
  border-bottom: 1px solid var(--clr-bw900);
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  margin-left: 1rem;
  margin-right: auto;
  animation: slideLeft 0.5s ease-in-out forwards;
}

/* navigation */
.nav {
  display: none;
}

.nav--active {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-dp200);
  z-index: 999;
}

.nav__item {
  list-style-type: none;
}

.nav__link {
  color: black;
  text-decoration: none;
}

.nav__item--about,
.nav__item--services,
.nav__item--equipment,
.nav__item--articles,
.nav__item--partners,
.nav__item--contacts {
  animation: slideRight 0.5s ease-in-out forwards;
}

.nav__item--about {
  animation-delay: calc(0.1s * 1);
}
.nav__item--services {
  animation-delay: calc(0.1s * 2);
}
.nav__item--equipment {
  animation-delay: calc(0.1s * 3);
}

.nav__item--articles {
  animation-delay: calc(0.1s * 4);
}

.nav__item--partners {
  animation-delay: calc(0.1s * 5);
}

.nav__item--contacts {
  animation-delay: calc(0.1s * 6);
}

.burger {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1000;
}
.burger__bar {
  width: 50px;
  height: 4px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.burger__bar::before,
.burger__bar::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  background: black;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.burger__bar::before {
  transform: translateY(-16px);
}
.burger__bar::after {
  transform: translateY(16px);
}

/* ANIMATION */
.burger.open .burger__bar {
  transform: translateX(-50px);
  background: transparent;
}
.burger.open .burger__bar::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.burger.open .burger__bar::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

@keyframes slideRight {
  0% {
    transform: translateX(750px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    flex-direction: row;
  }
  .nav__list {
    display: flex;
  }

  .nav__link {
    font-family: var(--ff100);
    font-size: var(--fs16);
    font-weight: 500;
    margin-right: 1.5em;
  }

  .burger {
    display: none;
  }
}

/* Main content, Sections */

.aboutus,
.eq,
.services {
  margin-bottom: 8rem;
}

.aboutus__image {
  border: 1px solid var(--clr-bw900);
  border-radius: 10px;
  margin-bottom: 2rem;
  min-height: 300px;
  object-fit: cover;
}

.left,
.right,
.left2,
.right2,
.partners,
.services,
.contacts {
  padding: 0 2rem;
}

.eq-h1 {
  max-width: none;
  padding: 1.5rem;
}

.eq-h2 {
  max-width: none;
  padding: 1.5rem;
  color: var(--clr-dp400);
}

.eq-left,
.eq-right {
  padding: 0 3ch;
}

.left-right {
  order: 2;
}

.right-left {
  order: 1;
}

.epsilontek {
  color: var(--clr-np100);
  font-weight: 900;
}

.btns-right {
  display: flex;
  justify-content: end;
  margin-right: 2rem;
}
/* services page */
.services__container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.grid__container {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  /* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
}

@media screen and (min-width: 768px) {
  .grid__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .grid__container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-services {
  position: relative;
}

.img-service {
  object-fit: cover;
  /* height: 300px; */
}

.how-works__list,
.examples__list {
  position: relative;
  background: var(--clr-bw100);
}

.how-works__item,
.examples__item {
  list-style-type: none;
  padding: 0.75em;
  width: 100%;
  background: var(--clr-bw100);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.services--box .how-works__list:hover .how-works__item,
.services--box .examples__list:hover .examples__item {
  opacity: 0.2;
}

.services--box .how-works__list:hover .how-works__item:hover {
  transform: scale(1.1);
  z-index: 100;
  background: var(--clr-np100);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  color: var(--clr-bw100);
  opacity: 1;
}

.services--box .examples__list:hover .examples__item:hover {
  transform: scale(1.1);
  z-index: 100;
  background: var(--clr-np200);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  color: var(--clr-bw100);
  opacity: 1;
}

.how-works__number {
  width: 30px;
  height: 30px;
  font-size: var(--fs20);
  text-align: right;
  text-shadow: 1px 1px 1px var(--clr-bw900);
  line-height: 30px;
  background: var(--clr-np100);
  color: var(--clr-bw100);
  display: inline-block;
  border-radius: 50%;
  margin-right: 1em;
  transform: translateY(-10px);
}

.examples__number {
  width: 30px;
  height: 30px;
  font-size: var(--fs20);
  text-align: right;
  text-shadow: 1px 1px 1px var(--clr-bw900);
  line-height: 30px;
  background: var(--clr-np200);
  color: var(--clr-bw100);
  display: inline-block;
  border-radius: 50%;
  margin-right: 1em;
  transform: translateY(-10px);
}

.how-works__item:hover span {
  background: var(--clr-bw100);
  color: var(--clr-dp100);
}

.examples__item:hover span {
  background: var(--clr-bw100);
  color: var(--clr-dp200);
}

.card {
  position: relative;
  width: 300px;
  padding: 20px;
  margin: 20px;
  background: var(--clr-np300);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  border-top: 20px solid var(--clr-dp100);
  border-right: 20px solid var(--clr-dp100);
}

.card__icon {
  margin-bottom: 2em;
}

.card__content {
  position: relative;
  height: 15rem;
  overflow: hidden;
}

.card__content--active {
  height: auto;
  overflow: visible;
}

.card__content::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(transparent, var(--clr-np300));
}

.card__content {
  position: relative;
  height: 15rem;
  overflow: hidden;
}

.btn-more {
  position: relative;
  padding: 0.75em 2em;
  background: var(--clr-dp100);
  margin-top: 2em;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--clr-bw100);
  letter-spacing: 2px;
  font-weight: 500;
}

.btn-more::before {
  content: "Подробнее";
}

.btn-more--active::before {
  content: "Свернуть";
}

/* Contacts page */
.contacts {
  margin-bottom: 5em;
}
.contacts__container {
  display: flex;
  flex-direction: column;
}

.contacts__image {
  margin-bottom: 3em;
  border-radius: 5px;
}

.contacts__right {
  order: 1;
}

.contacts__left {
  order: 2;
}

@media screen and (min-width: 768px) {
  .contacts__container {
    flex-direction: row;
  }

  .contacts__left {
    width: 50%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .contacts__right {
    width: 50%;
    order: 2;
  }
}

.contacts__phone,
.contacts__email {
  color: var(--clr-bw900);
  text-shadow: 3px 3px 3px var(--clr-dp100);
}

.contacts__phone,
.contacts__email {
  font-size: var(--fs24);
}

.company__details {
  display: flex;
}

.ogrn,
.inn {
  margin-right: 5em;
}

.contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contact-us::before {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: var(--clr-np100);
  border-radius: 50%;
}

.contact-us::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: var(--clr-np100);
  border-radius: 50%;
  transform: translate(-200px, -100px);
}

.contact-us::after {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: var(--clr-np200);
  border-radius: 50%;
  transform: translate(200px, 80px);
}

@media screen and (min-width: 768px) {
  .contact-us::before {
    transform: translate(-480px, -170px);
  }

  .contact-us::after {
    transform: translate(470px, 170px);
  }
}

.contact-us__container {
  position: relative;
  z-index: 500;
  width: 100%;
  max-width: 1200px;
  /* background: var(--clr-dp300); */
  background: rgba(240, 252, 247, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(240, 252, 247, 0.25);
  border-right: 1px solid rgba(240, 252, 247, 0.1);
  border-bottom: 1px solid rgba(240, 252, 247, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.contact-us__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
  transform: skewX(-15deg);
}

.contact-us__row {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.contact-us__col {
  position: relative;
  width: 100%;
  padding: 0 1rem;
  margin: 2em 0 1.5em;
}

.contact-us__input-box {
  position: relative;
  width: 100%;
  height: 40px;
  color: var(--clr-bw900);
}

.contact-us__input,
.contact-us__textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 0 0.75em;
  font-size: var(--fs16);
  z-index: 10;
}

.contact-us__text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: var(--fs16);
  padding: 0 0.75em;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.contact-us__input:focus + .contact-us__text,
.contact-us__input:valid + .contact-us__text,
.contact-us__textarea:focus + .contact-us__text,
.contact-us__textarea:valid + .contact-us__text {
  top: -35px;
  left: -10px;
  font-size: var(--fs12);
}

.line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;
  background: transparent;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
  border: 1px solid #000;
}

.contact-us__input:focus ~ .line,
.contact-us__input:valid ~ .line {
  height: 100%;
}

.contact-us__input-box--textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 0.75em 0;
}

.contact-us__textarea:focus ~ .line,
.contact-us__textarea:valid ~ .line {
  height: 100%;
}

/* Footer */
.footer,
.copyright {
  background: var(--clr-dp200);
  color: var(--clr-bw900);
}

.footer {
  margin-top: auto;
  width: 100%;
  height: auto;
}

.footer__container {
  /* margin: 2rem auto; */
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
}

.footer__about,
.footer__contacts,
.footer__links,
.footer__message {
  margin-bottom: 2.5em;
  padding: 0 3ch;
}

.footer__header {
  margin-bottom: 0.5em;
  text-shadow: 1px 1px 2px var(--clr-dp400);
}

.footer-about__content {
  margin-bottom: 1.5em;
}

.footer__links {
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: var(--clr-bw900);
  text-shadow: 1px 1px 4px var(--clr-dp400);
}

.footer__link:hover {
  color: var(--clr-bw100);
}

.footer__phone {
  font-size: var(--fs24);
  font-family: var(--ff100);
  font-weight: 900;
  text-decoration: none;
  color: black;
  /* box-shadow: -6px -3px 7px black; */
  display: block;
  margin-bottom: 1em;
  text-shadow: -3px -3px 2px var(--clr-dp100);
  /* , 5px 5px 3px var(--clr-dp100) */
}

.footer__phone:hover {
  /* box-shadow: 6px 3px 7px black; */
  text-shadow: 3px 1px 3px var(--clr-bw100);
}

.phone__number {
  white-space: nowrap;
}

.footer-contacts__email {
  margin-bottom: 1em;
}

.mailto {
  color: var(--clr-bw900);
  font-size: var(--fs20);
  font-family: var(--ff100);

  font-weight: 900;
  /* text-shadow: 3px 1px 3px var(--clr-dp100); */
  text-shadow: -3px -3px 2px var(--clr-dp100);
}

.mailto:hover {
  /* color: var(--clr-bw100); */
  text-shadow: -3px -3px 2px var(--clr-bw100);
}

.footer__address--nowrap {
  white-space: nowrap;
}

.copyright {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* =================
Components
================= */

/* buttons */
.btn,
.btn--large {
  border-radius: 2px;
}

.btn {
  padding: 0.5em 3em;
  /* border-radius: 5px; */
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;

  margin: 1rem 0px;
}

.btn--large {
  padding: 1em 3em;
  text-align: center;
  text-decoration: none;
  display: block;
  width: 100%;
  margin: 0rem 0px 2rem;
  white-space: nowrap;
}

.btn::first-letter,
.btn--large::first-letter {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .btn--large {
    max-width: 40%;
    display: inline-block;
  }
}

.btn--100 {
  color: var(--clr-dp400);
  background: var(--clr-bw100);
  border: 2px solid var(--clr-dp400);
}

.btn--100:hover {
  color: var(--clr-bw100);
  background: var(--clr-dp200);
  border: 2px solid var(--clr-dp200);
}

.btn--light {
  color: var(--clr-bw100);
  background: var(--clr-dp200);
  border: 2px solid var(--clr-dp200);
}

.btn--light:hover {
  background: var(--clr-bw100);
  color: var(--clr-dp400);
  border: 2px solid var(--clr-dp400);
}

.btn--dark {
  color: var(--clr-bw100);
  background: var(--clr-dp200);
  border: none;
  /* border: 2px solid var(--clr-bw900); */
}

.btn--dark:hover {
  background: var(--clr-dp400);
}

.btn--darker {
  color: var(--clr-bw100);
  background: var(--clr-dp400);
  border: 2px solid var(--clr-bw900);
}

.btn--darker:hover {
  background: var(--clr-dp200);
}

.btn--footer {
  background: transparent;
}
.btn--footer:hover {
  background: var(--clr-dp400);
}

/* buttons */

.social__link {
  width: 40px;
  height: 40px;
  display: inline-block;
  background: transparent;
  /* background: var(--clr-np100); */
  border: 1px solid var(--clr-bw900);
  border-radius: 5px;
  margin-right: 1em;
  position: relative;
}

.social__link:hover {
  background: var(--clr-dp400);
  border: 1px solid var(--clr-bw100);
}

.social__icon {
  color: var(--clr-bw900);
  padding: 10px 12px;
  font-size: var(--fs20);
}

.social__icon:hover {
  color: var(--clr-bw100);
}

/* =================
Media queries
================= */

@media screen and (min-width: 768px) {
  .header__container,
  .main__container,
  .footer__container {
    max-width: 1400px;
    margin: 1rem auto;
  }

  .aboutus,
  .eq-container {
    display: flex;
  }

  /* .left,
  .right {
    max-width: 50%;
  } */
  .left {
    width: 60%;
  }
  .right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .eq-right {
    width: 60%;
  }
  .eq-left {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .footer__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
