@font-face {
  font-family: "Poppins";
  src: local(Poppins-Bold),
    url(./assets/fonts/Poppins/Poppins-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Lora";
  src: local(Lora-Regular),
    url(./assets/fonts/Lora/Lora-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Lora";
  src: local(Lora-Regular),
    url(./assets/fonts/Lora/Lora-Medium.ttf) format("truetype");
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Lora";
  font-weight: bolder;
  font-size: 1rem;
  line-height: 1.6;
  overflow-x: hidden;
}

.h1,
.h2,
.h3 {
  font-family: "Poppins";
  font-weight: bold;
}

.h1 {
  font-size: 1.75rem;
  /* font-size: 2.5rem; */
}

.h2,
.h3 {
  font-size: 1.25rem;
  margin-bottom: 1em;
  letter-spacing: 0.05em;
}

.header__title {
  /* font-size: 1.25rem; */
  font-size: 1rem;
  margin-bottom: 2em;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

header,
section,
footer {
  margin-bottom: 2rem;
}

.header__nav {
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  align-items: center;
}

.img__box {
  width: 50%;
  order: 1;
}
.img {
  /* opacity: 0.6; */
  margin: 0 0 2em 0;
  border-radius: 50%;
}

/* navigation */
.nav {
  /* visibility: hidden; */
  display: none;
  /* transform: translateX(5000px); */
  order: 2;
}

.nav--open {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to left, #355c7d, #6c5b7b, #c06c84);
  opacity: 0.5; */
  /* background: cadetblue; */
  background: white;
  z-index: 10;
  /* z-index: 100; */
  /* transform: translateX(-5000px); */
}

.nav__item {
  font-size: 1.5rem;
  list-style-type: none;
  margin: 1.5em;
}

.nav__item:hover {
}

.nav__link {
  color: black;
  text-decoration: none;
}

.nav__item:hover .nav__link {
  text-decoration: underline;
}

.burger {
  position: relative;
  display: flex;
  /* top: 2em; */
  /* right: 600px; */
  /* transform: translateX(100%); */
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  order: 3;
  margin-left: auto;
  background: transparent;
  z-index: 11;
  /* z-index: 1000; */
  /* justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  z-index: 1000; */
}
.burger__bar {
  display: block;
  position: relative;
}

.burger__bar,
.burger__bar::before,
.burger__bar::after {
  width: 2.5em;
  height: 2px;
  background: black;
  transition: transform 250ms ease-in-out;
}

.burger__bar::before,
.burger__bar::after {
  content: "";
  position: absolute;
  left: 0;
}

.burger__bar::before {
  bottom: 10px;
}

.burger__bar::after {
  top: 10px;
}

/* .header__name::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  bottom: 0%;
  left: 0;
  background-color: purple;
} */
.header__name {
  position: relative;
}

.header__title {
  display: block;
  position: relative;
}

.header__title::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  bottom: 100%;
  right: 0%;
  background: linear-gradient(to left, #355c7d, #6c5b7b, #c06c84);
}

.code__example {
  background: #40454e;
  color: lightgray;
  overflow-x: scroll;
}

.code__purple {
  color: #be6ab3;
}
.code__yellow1 {
  color: #e2ba6f;
}
.code__yellow2 {
  color: #d0c40b;
}
.code__blue {
  color: #4aa3bb;
}
.code__red {
  color: #cf5a5e;
}
.contacts__list {
  list-style-type: none;
}

.contacts__item {
  display: flex;
  align-self: center;
}

.contacts__type--email,
.contacts__type--phone {
  display: flex;
  margin-right: 0.5em;
}
.contacts__type--email::before,
.contacts__type--phone::before {
  width: 20px;
  height: 20px;
  display: inline-block;
  align-self: center;
  margin-right: 0.5em;
}

.contacts__type--email::before {
  content: url(./assets/icons/envelope.svg);
}

.contacts__type--phone::before {
  content: url(./assets/icons/phone-call.svg);
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (min-width: 768px) {
  .header__picture {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .nav {
    order: 2;
  }

  .img__box {
    order: 3;
    width: 35%;
  }

  .nav {
    display: flex;
  }

  .nav__list {
    display: flex;
    flex-direction: row;
  }

  .nav__item {
    margin-left: 2em;
  }

  .burger {
    display: none;
  }
}
